{% extends "base.html" %}

{% load static %}

{% block title %}home.html{% endblock %}

{% block extra-style %}
	<link href="{% static 'css/home.css' %}" rel="stylesheet">
	<script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block content %}
<div class="home-image">
</div>
<div class="container mt-5">
  <h2 class="mt-5 mb-4">⭐ 인기 보드게임 TOP 6</h2>
  <div class="row">
    {% for game in popular_games %}
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="{{ game.thumbnail }}" class="card-img-top" alt="{{ game.primary }}" style="height:200px; object-fit:cover;">
          <div class="card-body">
            <h5 class="card-title">{{ game.primary }}</h5>
            <p class="card-text">평균 평점: {{ game.average }}</p>
            <a href="{{ game.get_absolute_url }}" class="btn btn-sm btn-outline-secondary">보러가기</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="text-center mt-5">
    <a href="{% url 'list:boardgame_search' %}" class="btn btn-lg btn-success">🔍 보드게임 검색하러 가기</a>
  </div>
</div>
{% endblock %}
